<!DOCTYPE html>

<html>
	<head>
		{% load static %}

		<link rel="stylesheet" href="{% static 'css/styles.css' %}">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</head>

	<body>
		{% if user_name %}
			<div id="navbar">
				<span>Welcome, {{user_name}}</span>
				<span style="float: right; margin-right: 8px;"> <!-- Sorry for the inline styling -->
					<a href="/reviews" style="margin-right: 16px;">Home</a>
					<a href="/reviews/new" style="margin-right: 16px;">New Book Review</a>
					<a href="/logout">Log out</a>
				</span>
			</div>
		{% endif %}

		<div id="content">
			{% block content %} {% endblock %}
		</div>
	</body>
</html>