{% extends "base.html" %}

{% block content %}
	<div id="full-page">
		<div class="column">
			<h1>Recent Reviews</h1>

			{% for review in recent %}
				<div class="form-box review">
					<h2>{{review.book.title}}</h2>
					<p>Author: {{review.book.author}}</p>
					<p>Poster: {{review.poster.first_name}} {{review.poster.last_name}}</p>
					<p>Rating: <span class="stars">{{review.rating}}</span></p>
					<p>Review: {{review.review_text}}</p>
				</div>
			{% empty %}
				<p>No reviews!</p>
			{% endfor %}
		</div>

		<div class="column" style="margin-left: 16px">
			<h1>All Books</h1>

			<div class="form-box">
				{% for book in all_books %}
					<div class="book-link"><a href="/books/{{book.id}}">{{book.title}}</a></div>
				{% empty %}

				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}